<div class="col">
    <div class="card shadow-sm">
      <img src={{thumbnail}} >

      <div class="card-body">
        <h6>{{titulo}}</h6>
        <p class="card-text description">{{descripcion}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Género
            </button>
            <ul class="dropdown-menu">
              <li *ngFor="let genero of generos" class="dropdown-item">{{genero}}</li>
            </ul>
          </div>
          <small class="text-muted">{{duracion}}</small>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100 my-2">
          <button [routerLink]="['/detalle']" routerLinkActive="router-link-active"  type="button" class="btn btn-primary w-100"><i class="fa fa-eye mx-2"></i>Ver</button>
        </div>
        <div class="d-flex justify-content-between align-items-center w-100">
          <button type="button" class="btn btn-success w-100" > <i class="fa fa-shopping-cart mx-2"></i> Añadir al carrito</button>
        </div>
      </div>
    </div>
  </div>
