<main class="form-signin text-center">
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="../../../assets/IMGS/Logo250.png" alt="Logo" width="250" height="auto">
      <h1 class="h3 mb-3 fw-normal">Registrate</h1>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="userName">
        <label for="floatingInput">Nombre de usuario</label>
        <small *ngIf="!this.signInForm.get('userName')?.valid && signInForm.get('userName')?.touched"> El nombre de usuario es requerido </small>
      </div>
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email">
        <label for="floatingInput">Email</label>
        <small *ngIf="!this.signInForm.get('email')?.valid && signInForm.get('email')?.touched"> El email es requerido </small>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Contraseña</label>
        <small *ngIf="!this.signInForm.get('password')?.valid && signInForm.get('password')?.touched"> La contraseña es requerida </small>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password2">
        <label for="floatingPassword">Repita la contraseña</label>
        <small *ngIf="!this.signInForm.get('password2')?.valid && signInForm.get('password2')?.touched"> Es necesario escribir de nuevo la contraseña </small>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Registrarme</button>
      <div class="mt-5">
        <span class="text-muted"> Olvidalo, ya lo recordé <br> <button [routerLink]="['/login']" routerLinkActive="router-link-active"  type="button" class="btn btn-link">Iniciar Sesión</button> </span>
        <p class="mt-5 mb-3 text-muted">&copy; MovieApp 2021</p>
      </div>
    </form>
  </main>

