<main class="form-signin text-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <img class="mb-4" src="../../../assets/IMGS/Logo250.png" alt="Logo" width="250" height="auto">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>

      <div class="form-floating">
        <input type="Email" class="form-control" id="floatingEmail" placeholder="Email" formControlName="email">
        <label for="floatingEmail"> email</label>
        <small *ngIf="!this.loginForm.get('email')?.valid && loginForm.get('email')?.touched"> El email es requerido </small>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" formControlName="password">
        <label for="floatingPassword"> Contraseña</label>
        <small *ngIf="!this.loginForm.get('password')?.valid && loginForm.get('password')?.touched"> La contraseña es requerida </small>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me" formControlName="remember"> Recuerdame
        </label>
      </div>

      <button class="w-100 btn btn-lg btn-success" type="submit">Ingresar</button>
      <div class="mt-5">
        <span class="text-muted"> No tienes una cuenta aún? <button [routerLink]="['/registro']" routerLinkActive="router-link-active"  type="button" class="btn btn-link">Registrarme</button> </span>
        <p class="mt-5 mb-3 text-muted">&copy; MovieApp 2021</p>
      </div>
    </form>
  </main>
