section.banner-bg{
    background-image: url('../../../assets/IMGS/BannerBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -227px;
}
h1.title{
    color: white;
    text-shadow: black 2px 3px 5px;
}