<app-navbar></app-navbar>
<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <img src="../../../assets/IMGS/Logo250.png" width="150">
          <h2 class="mx-3">{{peliculas[currentId].titulo}}</h2>
        </a>
      </header>

      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <div class="row">
            <div class="col-4">
              <img class="img-fluid" src={{peliculas[currentId].thumbnail}}>
            </div>
            <div class="col-8">
              <h1 class="display-5 fw-bold">{{peliculas[currentId].titulo}}</h1>
              <p class="fs-4">{{peliculas[currentId].descripcion}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    Género
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let genero of peliculas[currentId].genero" class="dropdown-item">{{genero}}</li>
                  </ul>
                </div>
                <small class="text-muted">{{peliculas[currentId].duracion}}</small>
              </div>
              <form class="mt-5" (ngSubmit)="onSubmitAnadir()">
                <button class="btn btn-success btn-lg" type="submit"><i class="fa fa-shopping-cart mx-2"></i>Añadir al carrito</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
<app-footer></app-footer>